body{
    font-family: 'Dancing Script', cursive;
    margin: 0;
}
 .color{
     color: chocolate;
 }

 h1{
     font-size: 30px;

}

.chobi{
    padding-left: 10%;
    width: 200%;
}
.chobi img{
    width: 100%;
}
.chobi-two{
    padding-left: 10%;
    width: 200%;
}
.chobi-two img{
    width: 100%;
}
.fiexible-container{
    display: flex;
    margin-bottom: 200px;
   
}

.flower{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    }

    .flower-two {
       background-image: url(images/dream-bg.png);
      background-repeat: no-repeat;
      background-position: right; 

    }
.ancor-tag{
    text-decoration: none;
    background-image: linear-gradient(rgb(241, 112, 112), orange);
    padding: 7px;
    margin: 10px;
    border-radius: 5px;
}
.ancor-tag-two{
   text-decoration: none;
   background-image: linear-gradient(rgb(0, 0, 5), white);
   padding: 7px;
   margin: 5px;
   border-radius: 5px;
}

.flower-two-three{
    border: 5px solid rgb(235, 230, 230);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: 400px;
    display: inline-block;

}




